.page {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    color: var(--text-light-color);
}

.warning {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.warning>* {
    margin-right: 10px;
}

.question {
    display: flex;
    padding: 10px 0;
    font-size: 22px;
}

.number {
    font-weight: bolder;
    min-width: 40px;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.options .button {
    flex: 1;
    padding: 5px;
}

.options .button input {
    width: 150px !important;
    padding: 10px;
}

.options .button input {
    color: #f0e68c !important;
    background-color: var(--grey-light-color) !important;
    border: 1px solid #f0e68c !important;
}

.questions .submit-area .button input{
    margin: 20px 0;
    height: 50px;
}

@media (min-width: 600px){
    .page{
        padding: 10px 100px;
    }
}

@media (min-width: 800px){
    .page{
        padding: 10px 200px;
    }
}
